<html lang="en">

<body>
    <%- include("./partials/nav.ejs") %>

        <div>
            <h2>About Us</h2>
            <p><b>Semester:</b> Spring 2023</p>

            <p><b>Course:</b> Web Development</p>
            <b>Instructor:</b>
            <ul>
                <li>Dr. Essam Eliwa</li>
                <li>Eng. Nada Ayman</li>
            </ul>
            <p><b>Students:</b> 130 Students</p>

        </div>

</body>

</html>