<html lang="en">
<body>
  <%- include("./partials/nav.ejs") %>

  <div>
    <h2>Myprofile</h2>

        <img src="/images/<%=userP.Image%>" width="100"> <%= user.UserName%>
        <br>
        Password <%= userP.Password%>



  </div>


    
</body>

</html>